$pink1: #FFAFAF;
$pink2: #FF9999;
$white_bone: #FBFFE2;
$creamy: #FFEBCC;
$text_color: #333333;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$great: 'Great Vibes', cursive;
$merri: 'Merriweather', serif;