@import 'colors';

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $white_bone;
    font-family: $merri;
    font-size: 18px;
    color: $text_color;
}

.home-invitation{
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

#myVideo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
  
.backdrop{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($creamy, 0.7);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.invitation-container{
    width: 100%;
    max-width: 700px;
    text-align: center;
    color: $white_bone;
    font-size: 16px;
    font-weight: 300;
    padding: 30px;
    div{
        margin-bottom: 30px;
    }

    .calon-pengantin{
        font-family: $great;
        font-size: 56px;
        font-weight: 500;
        margin-bottom: 15px;
        text-shadow: 0px 4px 7px rgba($pink2, 0.57);
    }

    .sm-text{
        font-size: 11px;
    }

    .nama-tamu{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .open-invitation{
        cursor: pointer;
        border: none;
        border-radius: 20px 0 20px 0;
        padding: 15px 40px;
        background-color: $pink2;
        background-image: linear-gradient(160deg, #f49b9b 0%, #f47e7e 100%);
        color: white;
        font-family: $merri;
        transition: all linear 0.4s;
        &:hover{
            background-color: $creamy;
            color: $text_color;
        }
    }
}


.hero{
    width: 100%;
    background-color: $creamy;
    overflow: hidden;
    position: relative;
}

.hero-slider{
    width: 100%;
    .item{
        width: 100%;
        height: 600px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes zoomIn {
    from{ 
        transform: scale(1);    
    }
    to{
        transform: scale(2);
    }
}
.slick-current.slick-active{
    img{
        animation-direction: linear;
        animation-name: zoomIn;
        animation-duration: 50s;
        animation-iteration-count: infinite;
    }
}

.hero-backdrop{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($creamy, 0.5);
    // backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    width: 100%;
    max-width: 700px;
    padding: 40px;
    text-align: center;
    color: white;
    text-shadow: 0px 3px 5px rgba($pink2, 0.6);
    font-size: 16px;

    .calon-pengantin{
        font-family: $great;
        font-size: 48px;
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 35px;
    }
}

.button-date{
    text-decoration: none;
    display: inline-block;
    background-color: $pink2;
    background-image: linear-gradient(160deg, #f49b9b 0%, #f47e7e 100%);
    color: white;
    padding: 15px 25px;
    margin-top: 35px;
    border-radius: 20px 0 20px 0;
}


.section-love-story{
    padding: 50px 30px;
    background-color: white;
    // color: #cea97b;
    color: #7c6767;
}

.our-love-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
}

.our-love-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 60px;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    img{
        width: 100%;
    }

    .icon{
        width: 40px;
        margin-bottom: 10px;
    }

    .text-right{
        text-align: right;
        display: grid;
        justify-content: right;
        .icon{
            margin-left: auto;
        }
    }

    .main-name{
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 6px;
    }
}



.section-acara{
    padding: 80px 30px;
    background-color: #f1d6b7;

    .section-title{
        font-size: 32px;
        text-align: center;
        color: $white_bone;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 60px;
    }
}

.invitation-card{
    width: 100%;
    max-width: 980px;
    padding: 90px 30px;
    background-color: white;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 44px -14px rgba(0 ,0 ,0 , 0.1);

    &.grid-3{
        display: grid;
        grid-template-columns: 1fr 60px 1fr;
        align-items: center;
        gap: 20px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin-bottom: 30px;
    }

    .title-acara{
        font-size: 42px;
        font-family: $great;
        font-weight: 500;
        margin-bottom: 40px;
        text-align: center;
    }

    .tempat-lokasi{
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .btn-map{
        text-decoration: none;
        display: inline-block;
        background-color: $creamy;
        padding: 10px 25px;
        color: $text_color;
        margin-top: 50px;
        font-size: 14px;
        border-radius: 20px 0 20px 0;
    }
}

@media screen and(max-width: 574px) {
    .invitation-card{
        &.grid-3{
            grid-template-columns: 1fr;
            gap: 70px;
        }
    }
}

.prokes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 800px;
    margin: auto;
    div{
        display: flex;
        align-items: center;
        gap: 30px;
        font-weight: 300;
        font-size: 16px;
        img{
            height: 70px;
        }
        &:nth-child(odd){
            text-align: right;
            flex-direction: row-reverse;
        }
        &:nth-child(even){
            text-align: left;
        }
    }
}
@media screen and(max-width: 574px) {
    .prokes{
        grid-template-columns: 1fr;
        gap: 60px;
        div{
            display: grid;
            text-align: center !important;
            justify-items: center;
            gap: 10px;
        }
    }
}

.text-small{
    margin-top: 80px;
    font-size: 12px;
    text-align: center;
}

.section-cd{
    padding: 170px 10px;
    background: url('../images/bg-1.png') no-repeat center center;
    background-size: cover;
}

@media screen and(max-width: 574px) {
    .section-cd{
        background: url('../images/bg-1-mobile.png') no-repeat center center;
        background-size: cover;
    }
}

.cd-container{
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: auto;
}


.cd-title{
    font-size: 42px;
    margin-bottom: 70px;
}

#cd{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    li{
        width: 130px;
        height: 130px;
        border: 5px solid $pink2;
        display: grid;
        align-items: center;
        &:nth-child(even){
            width: auto;
            height: auto;
            border: none;
        }
        font-size: 42px;
        font-weight: 600;
        .text{
            font-size: 14px;
            font-weight: 500;
        }
    }
}
@media screen and(max-width: 574px) {
    #cd{
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        li{
            width: 80px;
            height: 80px;
            border: 5px solid $pink2;
            display: grid;
            align-items: center;
            &:nth-child(even){
                display: none;
            }
            font-size: 32px;
            font-weight: 600;
            .text{
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}

.btn-gcalenar{
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    background-color: $pink2;
    color: white;
    font-size: 14px;
    margin-top: 70px;
    border-radius: 0px 20px 0 20px;
}


.gmap-section{
    background-color: white;
    text-align: center;
    font-size: 36px;
    padding: 70px 0 0 0;
    .title-section{
        margin-bottom: 70px;
        letter-spacing: 2px;
    }
    iframe{
        width: 100%;
        height: 700px;
    }
}

.section-gallery{
    padding: 50px 30px;
    background-color: white;
    // color: #cea97b;
    color: #7c6767;
}

.gallery-container{
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: auto;
}

.gallery-title{
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 50px;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    div{
        overflow: hidden;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover{
            transform: scale(1.2);
            transition: transform 6s;
        }
    }
}

@media screen and(max-width: 574px) {
    .gallery-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}


.quote-section{
    padding: 170px 30px;
    background: url('../images/quote-bg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($creamy, 0.6);
        z-index: 0;
        backdrop-filter: blur(6px);
    }

    .quote-container{
        text-align: center;
        font-size: 28px;
        width: 100%;
        max-width: 900px;
        margin: auto;
        position: relative;
        z-index: 1;
        text-shadow: 0px 3px 6px $pink2;
        color: #484747;
        .surah{
            font-size: 16px;
            margin-top: 60px;
        }
    }
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}